
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #eef7f0;
  color: #123f2b;
}

button {
  cursor: pointer;
}

img {
  display: block;
}